name: CI GitHub Runner

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache node_modules
        uses: actions/cache@v3
        id: node-cache
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Execute tests on GitHub runner
        run: |
          npm install
          npm run test:prod

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: |
            ./logs
            ./output/allure-results
          if-no-files-found: ignore

  generate-and-publish-allure:
    name: Generate and Publish Allure Report
    runs-on: ubuntu-latest
    needs: test
    if: always()
    permissions:
      pages: write
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore node_modules cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Download Allure results from tests artifacts 
        uses: actions/download-artifact@v4 
        with: 
          name: test-artifacts
      
      - name: Generate Allure Report
        run: npm run allure:generate

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./output/allure-report